<section role="region">
  <header>
    <menu type="toolbar">
      <a ng-tap="$navigate.go('/compose', 'slide')" id="icon-add">
        <span class="icon icon-compose"></span>
      </a>
      <a href="edit()" id="threads-edit-icon">
        <span class="icon icon-edit"></span>
      </a>
    </menu>
    <h1 data-l10n-id="messages">Messages</h1>
  </header>
</section>
<div id="threads-no-messages" ng-show="days.length == 0">
  <div id="no-result-message">
    <p>No messages</p>
    <p>Start communicating now</p>
  </div>
</div>

<article id="threads-container" class="view-body" data-type="list" ng-show="days.length > 0">
  <div ng-repeat="day in days">
    <header data-is-thread="true">{{day.date | friendlyday}}</header>
    <ul>
      <li ng-repeat="msg in day.messages">
        <a ng-tap="$navigate.go('/detail/' + msg.participants[0], 'slide')" class="{{ msg.unreadCount > 0 && 'unread' }}">
          <aside class="icon icon-unread">unread</aside>
          <aside class="pack-end"><img src=""></aside>
          <p class="name">{{msg.participants[0]}}</p>
          <p><time>{{msg.timestamp | date:'shortTime'}}</time>{{msg.body}}</p>
        </a>
      </li>
    </ul>
  </div>
</article>